<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="title" content="JelbrekAPI">

    <meta property="og:description" content="A simple web API to find information about an iOS Jailbreak!">
    <meta property="og:site_name" content="JelbrekAPI">
    <meta property="og:title" content="JelbrekAPI">
    <meta property="og:url" content="https://jelbrekapi.conorthedev.me">
    <meta name="theme-color" content="#000000">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>JelbrekAPI</title>
</head>